@font-face {
  font-family: GoodDog;
  src: url('/static/fonts/GoodDog.ttf');
}

body, table, td {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.status_message {
  border: 1px solid;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 2px;
  cursor: pointer;
  margin: 10px;
}

.status_message.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/static/images/info.png');
}

.status_message.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('/static/images/success.png');
}

.status_message.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('/static/images/warning.png');
}

.status_message.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/static/images/error.png');
}

#bodyheader {
  height: 100px;
  padding: 10px 10px 0px 10px;
}

#bodyheader #logo {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  vertical-align: top;
  margin-top: -10px;
}

#bodyheader #logo span.prefix {
  color: #888;
}

#bodyheader #logo a,
#bodyheader #logo a:hover,
#bodyheader #logo a:active,
#bodyheader #logo a:visited {
  text-decoration: none;
  color: black;
  padding: 0px;
  margin: 0px;
}

#bodyheader #logo img {
  height: 100%;
  width: auto;
}

#bodyheader .right {
  position: absolute;
  font-size: 13px;
  top: 10px;
  right: 10px;
}

#bodyheader .right img {
  vertical-align: bottom;
}

#bodyheader .right a {
  text-decoration: none;
}

#bodyheader .right #spinner {
  display: none;
  vertical-align: middle;
}

#bodycontent {
  text-align: center;
  position: absolute;
  top: 110px;
  bottom: 70px;
  width: 100%;
  background-color: #E1F4F5;
  border-top: 1px solid #A1C8CC;
  border-bottom: 1px solid #A1C8CC;
}

#bodycontent #messages {
  display: inline-block;
}

#bodycontent .form {
  display: inline-block;
  text-align: left;
}

#bodyfooter {
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: #CCC;
  font-size: 11px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#bodyfooter #singly {
  margin-top: 10px;
}
