#buttons {
  text-align: center;
}

#buttons div {
  margin: 10px;
}

#map {
  margin: 0;
  padding: 0;
  height: 400px;
  display: none;
  border: 1px solid #CCC;
}

div#thumbsup, div#thumbsdown {
  height: 24px;
  width: 32px;
}

.ui-button .ui-icon.thumbs-up {
  background-image: url('/static/images/up.png');
}

.ui-button .ui-icon.thumbs-down {
  background-image: url('/static/images/down.png');
}

#result {
  margin-top: 10px;
  display: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 10px;
}

#result #title {
  font-size: 20px;
}

#result #reasons {
  margin-top: 10px;
}

#result #vote {
  margin-top: 10px;
}
