{% extends "cypht.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/style/home.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/static/scripts/home.js"></script>
{% endblock %}

{% block javascript %}
  $(document).cyphtHome(cypht, {
    'map': $('#map'),
    'buttons': $('#buttons'),
    'thumbsup': $('#thumbsup'),
    'thumbsdown': $('#thumbsdown'),
    'result': $('#result'),
    'title': $('#title'),
    'address': $('#address'),
    'reasons': $('#reasons_list')
  }).render();
{% endblock %}

{% block body %}
  <div id="map"></div>
  <div id="result">
    <div id="title">In-N-Out Burger</div>
    <div id="address">2289 Alcalde St, Santa Clara 95054, USA</div>
    <div id="reasons">
      <ul id='reasons_list'>
        <li><b>Russ White</b> said "This shit is awesome!"</li>
        <li><b>James Meador</b> checked in here 2 days ago</li>
      </ul>
    </div>
    <div id="vote">
      <div id="thumbsup"></div>
      <div id="thumbsdown"></div>
    </div>
  </div>
  <div id="buttons"></div>
{% endblock %}
