<!doctype html>
<html>
  <head>
    <title>iamble</title>
    <link rel="stylesheet" type="text/css" href="/static/style/reset.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Marck+Script|Lobster|Amaranth|Berkshire+Swash">
    <link rel="stylesheet" type="text/css" href="/static/style/jquery/Aristo/Aristo.css">
    <link rel="stylesheet" type="text/css" href="/static/style/iamble.css">
    <script type="text/javascript" src="/static/scripts/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery/jquery-ui-1.8.20.min.js"></script>
    <script type="text/javascript" src="/static/scripts/iamble.js"></script>
    {% block head %}

    {% endblock %}
    <script type="text/javascript">
      $(document).ready(function() {
        var iamble = $(document).iamble({
          'version': '{{ app_version }}',
          'content': $('#bodycontent'),
          'messages': $('#messages'),
          'spinner': $('#spinner')
        });

        {% block javascript %}
          iamble.render();
        {% endblock %}
      });
    </script>
  </head>
  <body>
    {% autoescape on %}
      <div id="bodyheader">
        <div id="logo">
          <a href="/"><img src="/static/images/logo.png"></a>
        </div>
        <div class="right">
          <img src="/static/images/ajax.gif" id="spinner">&nbsp;
          {% if current_user %}
            {{ current_user.email }} | <a href="/oauth">Services</a> | <a href='/settings'>Settings</a> | <a href="/logout">Logout</a>
          {% else %}
            <a href="/login"><img src="/static/images/login.png">&nbsp;Login via Google</a>
          {% endif %}
        </div>
      </div>
      <div id="bodycontent">
        <div id="messages">
          {% for message in info_messages %}
            <div class="status_message info">{{message}}</div>
          {% endfor %}
          {% for message in success_messages %}
            <div class="status_message success">{{message}}</div>
          {% endfor %}
          {% for message in warning_messages %}
            <div class="status_message warning">{{message}}</div>
          {% endfor %}
          {% for message in error_messages %}
            <div class="status_message error">{{message}}</div>
          {% endfor %}
        </div>
        <div id="content">
          {% block body %}
            Welcome
          {% endblock %}
        </div>
      </div>
      <div id="bodyfooter">
        <p>
          Build info: {{ app_version }}
          <div id="singly">
            <a href="http://dev.singly.com">
              <img src="/static/images/singly-button.png">
            </a>
          </div>
        </p>
      </div>
    {% endautoescape %}
  </body>
</html>
