{% extends "iamble.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/style/oauth.css">
  <script type="text/javascript" src="/static/scripts/oauth.js"></script>
{% endblock %}

{% block javascript %}
  $(document).iambleOAuth(iamble, {
    'continue': $('#continue')
  }).render();
{% endblock %}

{% block body %}
  <h2>Authorize Services</h2>
  <hr>
  {% for service in services %}
    <div class="service{% if service.enabled %} existing{% endif %}">
      <a href="{{ service.oauth_url }}">
        <img alt="{{ service.name }}" class="icon" src="{{ service.icon }}">
      </a>
    </div>
  {% endfor %}
  <hr>
  {% if user.first_time  %}
    <input type="button" value="Continue" id="continue">
  {% endif %}
{% endblock %}
