{% extends "iamble.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/style/oauth.css">
  <script type="text/javascript" src="/static/scripts/oauth.js"></script>
{% endblock %}

{% block javascript %}
  $(document).iambleOAuth(iamble).render();
{% endblock %}

{% block body %}
  <h2>Existing Services</h2>
  {% for service in existing_services %}
  <div>{{ service }}</div>
  {% endfor %}

  <hr>

  <h2>Authorize New Services</h2>
  {% for service in new_services %}
    <div class="service">
      <a href="{{ service.oauth_url }}">
        <img alt="{{ service.name }}" class="icon" src="{{ service.icon }}">
      </a>
    </div>
  {% endfor %}

  <hr>
{% endblock %}
