{% extends "iamble.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/style/settings.css">
  <script type="text/javascript" src="/static/scripts/settings.js"></script>
{% endblock %}

{% block javascript %}
  $(document).iambleSettings(iamble, {
    'firstname': $('#firstname'),
    'lastname': $('#lastname'),
    'budget': $('#budget'),
    'distance': $('#distance'),
    'longitude': $('#longitude'),
    'latitude': $('#latitude'),
    'save': $('#save')
  }).render();
{% endblock %}

{% block body %}
  <div class="form">
    <form action="?user={{ user.key.id }}" method="post">
      <table>
        <tr>
          <td colspan="2" class="title">
            <h2>Settings</h2>
          </td>
        </tr>
        <tr>
          <td>First name</td>
          <td>
            <input type="text" id="firstname" name="name_first"
                value="{% if user.name_first %}{{ user.name_first }}{% endif %}">
          </td>
        </tr>
        <tr>
          <td>Last name</td>
          <td>
            <input type="text" id="lastname" name="name_last"
                value="{% if user.name_last %}{{ user.name_last }}{% endif %}">
          </td>
        </tr>
        <tr>
          <td>Budget</td>
          <td>
            <input type="text" id="budget" name="budget"
                value="{{ user.budget }}">
          </td>
        </tr>
        <tr>
          <td>Latitude</td>
          <td>
            <input type="text" id="longitude" name="longitude"
                value="{{ user.default_location.longitude }}">
          </td>
        </tr>
        <tr>
          <td>Longitude</td>
          <td>
            <input type="text" id="latitude" name="latitude"
                value="{{ user.default_location.latitude }}">
          </td>
        </tr>
        <tr>
          <td>Distance</td>
          <td>
            <div id="distance">
              <input type="radio" id="walk" name="distance" value="walk"
                  {% if user.distance == 'walk' %} checked='checked'{% endif %}/>
              <label for="walk">Walk</label>

              <input type="radio" id="bike" name="distance" value="bike"
                  {% if user.distance == 'bike' %} checked='checked'{% endif %}/>
              <label for="bike">Bike</label>

              <input type="radio" id="drive" name="distance" value="drive"
                  {% if user.distance == 'drive' %} checked='checked'{% endif %}/>
              <label for="drive">Drive</label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="buttons">
            <input type="submit" value="Save" id="save">
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}
