{% extends "iamble.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/style/home.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/static/scripts/home.js"></script>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
  <div id="signup">
    <div class="right">
      <a href="https://twitter.com/iambleapp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @iambleapp</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <h2 class='clears'>Welcome to iAmble!</h2>
    <h3>Don't know what to eat? iAmble does!</h3>
    <div class='blurbcontent'>
      <p>Amble learns about you and your friends from your social networks. Based on what we learn we are able to give you new ideas on where you will like to eat! And the best part? Amble gets better the more you use it!</p><br>
    </div>
    <div id="iphonemock1">
      <img src='/static/images/mock1.png' width="300px">
      <img src='/static/images/mock2.png' width="300px">
      <img src='/static/images/mock3.png' width="300px">
      
    </div>
  </div>

{% endblock %}
