{% extends "iamble.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/style/home.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/static/scripts/home.js"></script>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block body %}
  <div id="signup">
    <div class="right">
      <a href="https://twitter.com/iambleapp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @iambleapp</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <h2 class='clears'>Welcome to iAmble!</h2>
    
      <p>We're currently hacking away at iAmble, but here's what you can expect when we have a version to launch:</p><br>
        <ul>
          <li>&bull;&nbsp;Sign-in with your Google Account</li>
          <li>&bull;&nbsp;Add your Facebook, Twitter and Foursquare accounts</li>
          <li>&bull;&nbsp;Recommendations for coffee shops, restaurants, and other eateries based on your friends' status updates and check-ins!</li>
        </ul>
      
    <div id="iphonemock1"><img src='/static/images/mock1.png' width="300px"></div>
  </div>

{% endblock %}
